<link rel="stylesheet" href="./parent.css">

<!-- modal start -->
<div class="zoid-container">
  <details>
    <summary>
      <!-- button that triggers the modal to open -->
      <div class="zoid-button">👋 Donate Now</div>
      <!-- background overlay for when modal opens -->
      <div class="zoid-details-modal-overlay"></div>
    </summary>
    <div class="zoid-details-modal">
      <!-- closing button for modal -->
      <div class="zoid-details-modal-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7071 1.70711C14.0976 1.31658 14.0976 0.683417 13.7071 0.292893C13.3166 -0.0976311 12.6834 -0.0976311 12.2929 0.292893L7 5.58579L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L5.58579 7L0.292893 12.2929C-0.0976311 12.6834 -0.0976311 13.3166 0.292893 13.7071C0.683417 14.0976 1.31658 14.0976 1.70711 13.7071L7 8.41421L12.2929 13.7071C12.6834 14.0976 13.3166 14.0976 13.7071 13.7071C14.0976 13.3166 14.0976 12.6834 13.7071 12.2929L8.41421 7L13.7071 1.70711Z" fill="black" />
        </svg>
      </div>
      <div class="zoid-details-modal-title">
        <!-- you can insert a custom 50px by 50px logo here -->
        <img src="./logo.png" alt="logo" class="zoid-logo">
      </div>
      <div class="zoid-details-modal-content">
        <!-- this is where the springboard iframe renders -->
        <div id="zoid-component"></div>
      </div>
    </div>
  </details>
</div>
<!-- modal end -->

</div>
<script src="../dist/parent.js"></script>
<script type="text/javascript">
  // https://github.com/krakenjs/zoid/issues/387
  document.getElementsByClassName('zoid-invisible')[0].style.opacity = '1';
</script>